extends ../template

block additionalScripts
    script(src='/js/chatList.js')

block title
    title Техподдержка

block content
    div(class='chat-list-main')
        div(class="chat-navigation-container")
            if page === 1
                a(href="#" class="chat-navigation-container__navigation-button--disabled") ←
            else
                a(href="/chats?page=" + (page - 1) class="chat-navigation-container__navigation-button") ←
            if page === pageCount
                a(href="#" class="chat-navigation-container__navigation-button--disabled") →
            else
                a(href="/chats?page=" + (page + 1) class="chat-navigation-container__navigation-button") →
            p(class="chat-navigation-container__page-count") Страница #{page} из #{pageCount}
            //button(class="chat-navigation-container__create-chat-button" onclick='showCreateChat();') Создать чат
        //form(class='create-chat-form' id='create-chat' style='display: none;')
            div(class='create-chat-from__input-group')
                label(class='create-chat-from__label' for='name') Название
                input(class='create-chat-from__input' id='name' type='text' required=true minlength=2 maxlength=32)
            div(class='create-chat-from__input-group')
                label(class='create-chat-from__label' for='description') Описание
                textarea(class='create-chat-from__input--textarea' id='description' maxlength=300)
            input(class='create-chat-from__submit-button' type='submit' value='Создать')
        div(class="chat-container")
            if (!empty)
                if (!support)
                    each chat in chatData
                        div(class="chat-card")
                            a(href="/chats/" + chat.id class="chat-card__header" )= chat.name
                            p(class="chat-card__description")= chat.description
                else
                    each chat in chatData
                        each user in chat.chat_to_user
                            if (user.user_id !== userid)
                                div(class="chat-card")
                                    a(href="/chats/" + chat.id class="chat-card__header" )= user.user.name
                                    p(class="chat-card__description")= "Активный пользователь"
                            else
                                if chat.chat_to_user.length === 1
                                    div(class="chat-card")
                                        a(href="/chats/" + chat.id class="chat-card__header" )= "Чат id" + chat.id
                                        p(class="chat-card__description")= "Пользователь был удален"

            else
                p(class='empty-list') Вы не состоите ни в одном чате