extends ../template

block additionalScripts
    script(src='/js/products.js')

block content
        div(class="catalogue-container")
            div(class="products-card")
            div(class='product-card__text')
              p() Сортировка по цене
              a(class="product__button" href="#" onclick='handlePriceSortUp();') ↑
              a(class="product__button" href="#" onclick='handlePriceSortDown();') ↓
              p() Сортировка по рейтингу
              a(class="product__button"  href="#" onclick='handleRatingSortUp();') ↑
              a(class="product__button" href="#" onclick='handleRatingSortDown();') ↓

            div(class="dropdown")
              button(class="dropbtn") Продавцы
              div(class="dropdown-content")
                each seller in sellers
                   a(href="#" onclick='handleSortSeller('+seller.id+');')= seller.user.name 
            
            div(class="dropdown")
              button(class="dropbtn") Категории товаров
              div(class="dropdown-content")
                each category in categories
                   a(href="#" onclick='handleSortCategory(\''+category.id+'\');')= category.category 
            a(class="product__button" href="#" onclick='handleNoFilters();') Сбросить все фильтры
            if (!empty)
              each product in products
                  div(class="products-card")
                      img(src=product.photo + "&rounded=true&size=48" class="product-card__photo")
                      div(class='product-card__text')
                          div(class="product-card__header")
                              a(class="product-card__name" href='/product/' + product.id)= product.name
                          p(class='product-card__description')= product.description
                          p(class='product-card__description')= "Цена "+product.price
                          p(class='product-card__description')= "Рейтинг "+product.rating_average
                          a(class="product__button" href="#" onclick='javascript:handleCreateProductsInOrder('+product.id+', \''+userid+'\');') Добавить в корзину
                          div(class='product__input-group')
                              label(class='product__input-label' for='number') Количество
                              input(class='product__input' id='number '+product.id required=true value="1")
            else
                p(class='empty-list') Каталог пуст