extends ../template

block additionalScripts
    script(src='/js/product.js')

block content
    div(class="product-main")
        div(class="product-card")
            div(class="product-picture")
                if photos[0]
                    img(src=photos[0].photo_url)
                else 
                    img(src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=")
                if edit
                    a(id="changeImage" href="javascript:changeProductImage();") Изменить изображение
            div(class="product-info")
                h1(id="productNameField") #{product.name}
                if edit
                    a(id="changeName" href="javascript:changeProductName();") Изменить название
                h3(id="productDescriptionField") #{product.description}
                if edit
                    a(id="changeDescription" href="javascript:changeProductDescription();") Изменить описание
                p() Рейтинг: #{product.rating_average}/5
                h3(id="productPrice") Цена: #{product.price}$
                if edit
                    a(id="changePrice" href="javascript:changeProductPrice();") Изменить цену
                p(id="numberOfProduct") Единиц товара: #{product.number}
                if edit
                    a(id="changeNumber" href="javascript:changeProductNumber();") Изменить цену
                p(id="categoryOfProduct") КАТЕГОРИЯ: #{product.category.category}
        h1() Отзывы о товаре
        div(class="reviews-container")
            if reviews[0]
                each review in reviews
                    div(class="review-card")
                        h2() #{review.user.name}
                        h3() Оценка: #{review.rating}/5
                        p() #{review.text}
            else 
                p() Здесь пока нет ни одного отзыва

    script. 
        productID=#{product.id};
    script.
        productName="#{product.name}";
    script.
        productDescription="#{product.description}";
    script.
        productCategoryID="#{product.category_id}";
    script.
        productNumber="#{product.number}";
    script.
        productPrice="#{product.price}";

