extends ../template

block additionalScripts
    script(src='/js/product.js')

block content
    div(class="product-main")
        div(class="product-card" id="productData")
            div(class="product-picture")
                if photos[0]
                    img(src=photos[0].photo_url)
                else 
                    img(src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=")
            div(class="product-info")
                h1(id="productNameField") #{product.name}
                h3(id="productDescriptionField") #{product.description}
                p()= 'Рейтинг: ' +  (Number.parseFloat(product.rating_average).toFixed(2)) + '/5'
                h3(id="productPrice") Цена: #{product.price}$
                p(id="numberOfProduct") Единиц товара: #{product.number}
                p(id="categoryOfProduct") КАТЕГОРИЯ: #{product.category.category}
                p()
                    a(href='/sellers/' + product.seller_id) ПРОДАВЕЦ
            div(class="break")
        if edit
            div(class="editRow" id="editRow")
                a( href="javascript:editProduct();") Изменить товар
        h1() Отзывы о товаре
        div(class="reviews-container")
            if reviews[0]
                each review in reviews
                    div(class="review-card")
                        h2() #{review.user.name}
                        h3() Оценка: #{review.rating}/5
                        p() #{review.text}
            else 
                p() Здесь пока нет ни одного отзыва
        div(class="review-form")
            form()
                textarea(rows="10" id="reviewText") 
                div(class="buttons")
                    form()
                        fieldset(id="reviewRating")
                            div()
                                label() Оценка
                                input(type="radio" name="rating" id="ratingChoice0" value="0")
                                label(for="ratingChoice0") 0
                                input(type="radio" name="rating" id="ratingChoice1" value="1")
                                label(for="ratingChoice1") 1
                                input(type="radio" name="rating" id="ratingChoice2" value="2")
                                label(for="ratingChoice2") 2
                                input(type="radio" name="rating" id="ratingChoice3" value="3")
                                label(for="ratingChoice3") 3
                                input(type="radio" name="rating" id="ratingChoice4" value="4")
                                label(for="ratingChoice4") 4
                                input(type="radio" name="rating" id="ratingChoice5" value="5")
                                label(for="ratingChoice5") 5
                                p(id="sendResponseReview") 
                        button(type="button" onclick="javascript:sendReview();") Отправить


    script. 
        productID=#{product.id};
    script.
        productName="#{product.name}";
    script.
        productDescription="#{product.description}";
    script.
        productCategoryID="#{product.category_id}";
    script. 
        productCategory="#{product.category.category}";
    script.
        productNumber="#{product.number}";
    script.
        productPrice="#{product.price}";
    script. 
        currentUserId="#{userid}"

